@import "tailwindcss" source(none);
@source "./src/web/**/*.{rs}";
@custom-variant dark (&:where(.dark, .dark *));

@plugin "@tailwindcss/typography";
@plugin "daisyui" {
	themes: oj-light, oj-dark;
}
@plugin "daisyui/theme" {
	name: "oj-light";
	default: false;
	prefersdark: false;
	color-scheme: "light";
	--color-base-100: var(--light-color-base-100);
	--color-base-200: var(--light-color-base-200);
	--color-base-300: var(--light-color-base-300);
	--color-base-content: var(--light-color-base-content);
	--color-primary: var(--light-color-primary);
	--color-primary-content: var(--light-color-primary-content);
	--color-secondary: var(--light-color-secondary);
	--color-secondary-content: var(--light-color-secondary-content);
	--color-accent: var(--light-color-accent);
	--color-accent-content: var(--light-color-accent-content);
	--color-neutral: var(--light-color-neutral);
	--color-neutral-content: var(--light-color-neutral-content);
	--color-info: var(--light-color-info);
	--color-info-content: var(--light-color-info-content);
	--color-success: var(--light-color-success);
	--color-success-content: var(--light-color-success-content);
	--color-warning: var(--light-color-warning);
	--color-warning-content: var(--light-color-warning-content);
	--color-error: var(--light-color-error);
	--color-error-content: var(--light-color-error-content);
	--radius-selector: var(--light-radius-selector);
	--radius-field: var(--light-radius-field);
	--radius-box: var(--light-radius-box);
	--size-selector: var(--light-size-selector);
	--size-field: var(--light-size-field);
	--border: var(--light-border);
	--depth: (--light-depth);
	--noise: (--light-noise);
}

@plugin "daisyui/theme" {
	name: "oj-dark";
	default: true;
	prefersdark: false;
	color-scheme: "dark";
	--color-base-100: var(--dark-color-base-100);
	--color-base-200: var(--dark-color-base-200);
	--color-base-300: var(--dark-color-base-300);
	--color-base-content: var(--dark-color-base-content);
	--color-primary: var(--dark-color-primary);
	--color-primary-content: var(--dark-color-primary-content);
	--color-secondary: var(--dark-color-secondary);
	--color-secondary-content: var(--dark-color-secondary-content);
	--color-accent: var(--dark-color-accent);
	--color-accent-content: var(--dark-color-accent-content);
	--color-neutral: var(--dark-color-neutral);
	--color-neutral-content: var(--dark-color-neutral-content);
	--color-info: var(--dark-color-info);
	--color-info-content: var(--dark-color-info-content);
	--color-success: var(--dark-color-success);
	--color-success-content: var(--dark-color-success-content);
	--color-warning: var(--dark-color-warning);
	--color-warning-content: var(--dark-color-warning-content);
	--color-error: var(--dark-color-error);
	--color-error-content: var(--dark-color-error-content);
	--radius-selector: var(--dark-radius-selector);
	--radius-field: var(--dark-radius-field);
	--radius-box: var(--dark-radius-box);
	--size-selector: var(--dark-size-selector);
	--size-field: var(--dark-size-field);
	--border: var(--dark-border);
	--depth: (--dark-depth);
	--noise: (--dark-noise);
}
