:root {
	--light-color-base-100: oklch(98% 0 0);
	--light-color-base-200: oklch(97% 0 0);
	--light-color-base-300: oklch(92% 0 0);
	--light-color-base-content: oklch(20% 0 0);
	--light-color-primary: oklch(77% 0.152 181.912);
	--light-color-primary-content: oklch(27% 0.046 192.524);
	--light-color-secondary: oklch(70% 0.015 286.067);
	--light-color-secondary-content: oklch(14% 0.005 285.823);
	--light-color-accent: oklch(71% 0.202 349.761);
	--light-color-accent-content: oklch(28% 0.109 3.907);
	--light-color-neutral: oklch(14% 0 0);
	--light-color-neutral-content: oklch(98% 0 0);
	--light-color-info: oklch(58% 0.158 241.966);
	--light-color-info-content: oklch(97% 0.013 236.62);
	--light-color-success: oklch(59% 0.145 163.225);
	--light-color-success-content: oklch(97% 0.021 166.113);
	--light-color-warning: oklch(64% 0.222 41.116);
	--light-color-warning-content: oklch(98% 0.016 73.684);
	--light-color-error: oklch(57% 0.245 27.325);
	--light-color-error-content: oklch(97% 0.013 17.38);
	--light-radius-selector: 1rem;
	--light-radius-field: 1rem;
	--light-radius-box: 1rem;
	--light-size-selector: 0.25rem;
	--light-size-field: 0.25rem;
	--light-border: 1px;
	--light-depth: 0;
	--light-noise: 0;

	--dark-color-base-100: oklch(14% 0.005 285.823);
	--dark-color-base-200: oklch(21% 0.006 285.885);
	--dark-color-base-300: oklch(27% 0.006 286.033);
	--dark-color-base-content: oklch(96% 0.001 286.375);
	--dark-color-primary: oklch(77% 0.152 181.912);
	--dark-color-primary-content: oklch(27% 0.046 192.524);
	--dark-color-secondary: oklch(70% 0.015 286.067);
	--dark-color-secondary-content: oklch(14% 0.005 285.823);
	--dark-color-accent: oklch(71% 0.202 349.761);
	--dark-color-accent-content: oklch(28% 0.109 3.907);
	--dark-color-neutral: oklch(37% 0.013 285.805);
	--dark-color-neutral-content: oklch(98% 0 0);
	--dark-color-info: oklch(58% 0.158 241.966);
	--dark-color-info-content: oklch(97% 0.013 236.62);
	--dark-color-success: oklch(59% 0.145 163.225);
	--dark-color-success-content: oklch(97% 0.021 166.113);
	--dark-color-warning: oklch(64% 0.222 41.116);
	--dark-color-warning-content: oklch(98% 0.016 73.684);
	--dark-color-error: oklch(57% 0.245 27.325);
	--dark-color-error-content: oklch(97% 0.013 17.38);
	--dark-radius-selector: 1rem;
	--dark-radius-field: 1rem;
	--dark-radius-box: 1rem;
	--dark-size-selector: 0.25rem;
	--dark-size-field: 0.25rem;
	--dark-border: 1px;
	--dark-depth: 0;
	--dark-noise: 0;
}
