<!doctype html>
<html lang="en" class="uk-theme-oj dark">
	<head>
		<title>oro-jackson</title>
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<script src="/_static/franken-ui.core.iife.js" type="module"></script>
		<script src="/_static/franken-ui.icon.iife.js" type="module"></script>
		<link rel="stylesheet" href="/_static/style.css" />
	</head>
	<body class="bg-background text-foreground">
		<div>{{content|safe}}</div>
		<a class="uk-btn uk-btn-default" href="#modal-center" data-uk-toggle> Open </a>

		<div id="modal-center" class="uk-flex-top" data-uk-modal>
			<div class="uk-modal-dialog uk-modal-body uk-margin-auto-vertical">
				<p>
					Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
					ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
					ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
					reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur
					sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id
					est laborum.
				</p>
			</div>
		</div>
		<a class="uk-btn uk-btn-default" href="#modal-sections" data-uk-toggle> Open </a>

		<div id="modal-sections" data-uk-modal>
			<div class="uk-modal-dialog">
				<button class="uk-modal-close absolute right-4 top-4" type="button" data-uk-close></button>
				<div class="uk-modal-header">
					<h2 class="uk-modal-title">Modal Title</h2>
				</div>
				<div class="uk-modal-body">
					<p>
						Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
						incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
						exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
						dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
						Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
						mollit anim id est laborum.
					</p>
				</div>
				<div class="uk-modal-footer uk-text-right">
					<button class="uk-modal-close uk-btn uk-btn-default mr-2" type="button">Cancel</button>
					<button class="uk-btn uk-btn-primary" type="button">Save</button>
				</div>
			</div>
		</div>
		<a class="uk-btn uk-btn-default" href="#modal-container" data-uk-toggle> Open </a>

		<div id="modal-container" class="uk-modal-container" data-uk-modal>
			<div class="uk-modal-dialog uk-modal-body">
				<button class="uk-modal-close absolute right-4 top-4" type="button" data-uk-close></button>
				<h2 class="uk-modal-title">Headline</h2>
				<p class="mt-4">
					Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
					ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
					ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
					reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur
					sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id
					est laborum.
				</p>
			</div>
		</div>
		<a class="uk-btn uk-btn-default" href="#modal-full" data-uk-toggle> Open </a>

		<div id="modal-full" class="uk-modal-full" data-uk-modal>
			<div class="uk-modal-dialog">
				<button
					class="uk-modal-close absolute right-0 top-0 p-8"
					type="button"
					data-uk-close
				></button>
				<div class="grid md:grid-cols-2">
					<div
						class="h-screen bg-cover"
						style="background-image: url(&quot;https://franken-ui.dev/images/photo.jpg&quot;)"
					></div>
					<div class="p-8">
						<h1 class="uk-h1">Headline</h1>
						<p class="mt-4">
							Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
							incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
							exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
							dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
							Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
							mollit anim id est laborum.
						</p>
					</div>
				</div>
			</div>
		</div>
		<a class="uk-btn uk-btn-default" href="#modal-overflow" data-uk-toggle> Open </a>

		<div id="modal-overflow" data-uk-modal>
			<div class="uk-modal-dialog">
				<button class="uk-modal-close absolute right-4 top-4" type="button" data-uk-close></button>

				<div class="uk-modal-header">
					<h2 class="uk-modal-title">Headline</h2>
				</div>

				<div class="uk-modal-body space-y-4" data-uk-overflow-auto>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
						incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
						exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
						dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
						Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
						mollit anim id est laborum.
					</p>

					<p>
						Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
						incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
						exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
						dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
						Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
						mollit anim id est laborum.
					</p>

					<p>
						Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
						incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
						exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
						dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
						Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
						mollit anim id est laborum.
					</p>

					<p>
						Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
						incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
						exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
						dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
						Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
						mollit anim id est laborum.
					</p>

					<p>
						Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
						incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
						exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
						dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
						Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
						mollit anim id est laborum.
					</p>

					<p>
						Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
						incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
						exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
						dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
						Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
						mollit anim id est laborum.
					</p>

					<p>
						Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
						incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
						exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
						dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
						Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
						mollit anim id est laborum.
					</p>

					<p>
						Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
						incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
						exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
						dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
						Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
						mollit anim id est laborum.
					</p>

					<p>
						Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
						incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
						exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
						dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
						Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
						mollit anim id est laborum.
					</p>
				</div>

				<div class="uk-modal-footer uk-text-right">
					<button class="uk-modal-close uk-btn uk-btn-default mr-2" type="button">Cancel</button>
					<button class="uk-btn uk-btn-primary" type="button">Save</button>
				</div>
			</div>
		</div>
		<div class="flex flex-wrap gap-2">
			<a class="uk-btn uk-btn-default" href="#modal-media-image" data-uk-toggle> Image </a>
			<a class="uk-btn uk-btn-default" href="#modal-media-video" data-uk-toggle> Video </a>
			<a class="uk-btn uk-btn-default" href="#modal-media-youtube" data-uk-toggle> YouTube </a>
			<a class="uk-btn uk-btn-default" href="#modal-media-vimeo" data-uk-toggle> Vimeo </a>
		</div>

		<div id="modal-media-image" class="uk-flex-top" data-uk-modal>
			<div class="uk-modal-dialog uk-margin-auto-vertical w-auto">
				<button
					class="uk-modal-close absolute -right-4 -top-4 text-white"
					type="button"
					data-uk-close
				></button>
				<img src="https://franken-ui.dev/images/photo.jpg" width="1800" height="1200" alt="" />
			</div>
		</div>

		<div id="modal-media-video" class="uk-flex-top" data-uk-modal>
			<div class="uk-modal-dialog uk-margin-auto-vertical w-auto">
				<video
					src="https://yootheme.com/site/images/media/yootheme-pro.mp4"
					width="1920"
					height="1080"
					controls
					playsinline
					data-uk-video
				></video>
			</div>
		</div>

		<div id="modal-media-youtube" class="uk-flex-top" data-uk-modal>
			<div class="uk-modal-dialog uk-margin-auto-vertical w-auto">
				<iframe
					src="https://www.youtube-nocookie.com/embed/c2pz2mlSfXA"
					width="1920"
					height="1080"
					loading="lazy"
					data-uk-video
					data-uk-responsive
				></iframe>
			</div>
		</div>

		<div id="modal-media-vimeo" class="uk-flex-top" data-uk-modal>
			<div class="uk-modal-dialog uk-margin-auto-vertical w-auto">
				<iframe
					src="https://player.vimeo.com/video/1084537"
					width="1280"
					height="720"
					loading="lazy"
					data-uk-video
					data-uk-responsive
				></iframe>
			</div>
		</div>
		<div class="flex flex-wrap gap-2">
			<a class="uk-btn uk-btn-default" href="#modal-group-1" data-uk-toggle> Modal 1 </a>
			<a class="uk-btn uk-btn-default" href="#modal-group-2" data-uk-toggle> Modal 2 </a>
		</div>

		<div id="modal-group-1" data-uk-modal>
			<div class="uk-modal-dialog">
				<button class="uk-modal-close absolute right-4 top-4" type="button" data-uk-close></button>
				<div class="uk-modal-header">
					<h2 class="uk-modal-title">Headline 1</h2>
				</div>
				<div class="uk-modal-body">
					<p>
						Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
						incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
						exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
						dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
						Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
						mollit anim id est laborum.
					</p>
				</div>
				<div class="uk-modal-footer uk-text-right">
					<button class="uk-modal-close uk-btn uk-btn-default mr-2" type="button">Cancel</button>
					<a href="#modal-group-2" class="uk-btn uk-btn-primary" data-uk-toggle> Next </a>
				</div>
			</div>
		</div>

		<div id="modal-group-2" data-uk-modal>
			<div class="uk-modal-dialog">
				<button class="uk-modal-close absolute right-4 top-4" type="button" data-uk-close></button>
				<div class="uk-modal-header">
					<h2 class="uk-modal-title">Headline 2</h2>
				</div>
				<div class="uk-modal-body">
					<p>
						Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
						incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
						exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
						dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
						Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
						mollit anim id est laborum.
					</p>
				</div>
				<div class="uk-modal-footer uk-text-right">
					<button class="uk-modal-close uk-btn uk-btn-default mr-2" type="button">Cancel</button>
					<a href="#modal-group-1" class="uk-btn uk-btn-primary" data-uk-toggle> Previous </a>
				</div>
			</div>
		</div>
		<div class="flex flex-wrap gap-2">
			<a id="js-modal-dialog" class="uk-btn uk-btn-default" href="#">Dialog</a>

			<a id="js-modal-alert" class="uk-btn uk-btn-default" href="#">Alert</a>

			<a id="js-modal-confirm" class="uk-btn uk-btn-default" href="#">Confirm</a>

			<a id="js-modal-prompt" class="uk-btn uk-btn-default" href="#">Prompt</a>

			<script>
				document.getElementById("js-modal-dialog")?.addEventListener("click", (e) => {
					e.preventDefault();
					e.target.blur();
					UIkit.modal.dialog('<p class="uk-modal-body">UIkit dialog!</p>');
				});

				document.getElementById("js-modal-alert")?.addEventListener("click", (e) => {
					e.preventDefault();
					e.target.blur();
					UIkit.modal.alert("UIkit alert!").then(function () {
						console.log("Alert closed.");
					});
				});

				document.getElementById("js-modal-confirm")?.addEventListener("click", (e) => {
					e.preventDefault();
					e.target.blur();
					UIkit.modal.confirm("UIkit confirm!").then(
						function () {
							console.log("Confirmed.");
						},
						function () {
							console.log("Rejected.");
						}
					);
				});

				document.getElementById("js-modal-prompt")?.addEventListener("click", (e) => {
					e.preventDefault();
					e.target.blur();
					UIkit.modal.prompt("Name:", "Your name").then(function (name) {
						console.log("Prompted:", name);
					});
				});
			</script>
		</div>
	</body>
</html>
