{% extends "../base.html" %} {% block page_scripts %}
<script>
	console.log("Hello, World!");
</script>
{% endblock %} {% block page_content %}

<button
  class="uk-btn uk-btn-default"
  type="button"
  data-uk-toggle="target: #offcanvas-overlay"
>
  Open
</button>

<div id="offcanvas-overlay" data-uk-offcanvas="overlay: true">
  <div class="uk-offcanvas-bar p-4">
    <button
      class="uk-offcanvas-close absolute right-4 top-4"
      type="button"
      data-uk-close
    ></button>

    <h3 class="uk-h3">Title</h3>

    <p class="mt-4">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
      veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
      commodo consequat.
    </p>
  </div>
</div>

{% endblock %}
