{% extends "../base.html" %} {% block page_scripts %}
<script>
	window.page_data = {{page_data|json|safe}};
	const main_body = document.getElementById("main-body");
	const traverseData = (data) => {
		for (let i = 0; i < data.length; i++){
			if (data[i].Folder){
				main_body.innerHTML += `<p>${data[i].Folder.name}</p>`;
				traverseData(data[i].Folder.children);
			} else if (data[i].File){
				main_body.innerHTML += `<a href="/vault/${data[i].File.slug}">${data[i].File.name}</a>`;
			}
		}
	}
	traverseData(window.page_data);
</script>
{% endblock %} {% block page_content %}

<div id="main-body" class="flex flex-col gap-[5px]">
</div>

{% endblock %}
